.game {
    display: flex;
    justify-content: center;
}

.game_board {
    margin-right: 20px;
}

.board_box{
    margin-right: 20px;
}

.game_info {
    height: 200px;
    overflow: auto;
    margin-top: 17px;
}

.box{
    display: flex;
    flex-direction: column;
}

.item {
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.text {
    padding: 10px;
    border: 1px solid aqua;
    border-radius: 5px;

}